.login_container {
    top: 35px;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction:column;
    width: 400px;
    justify-items: center;
    align-items:end;
    justify-content: center;
    .encabezado_login{
        font-size: 20px;
        color: white;
        margin-right: 180px;
    }
    .form_login{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items:end;
        margin-right: 20px;
        gap: 2px;
        .contenedor_label{
            display: flex;
            flex-direction: row;
            .label_login {
                color: white;
                font-weight: bold;     
            }
        }
    }
}