.card__contenedor{
    margin: 10px;
    .link_terminar{
        text-decoration: none;
        margin: 10px;
        .button_terminar{
            height: 40px;
            margin: 10px;
            margin-left: 40px;
        }
    }
}