*{
    margin: 0;
    padding: 0;
}
.contenedor__header{
    background-color: rgb(37, 1, 71);
    height: 180px;
    .titulo{
        color: rgb(236, 31, 65);
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .nav__bar{
        height: 50px;
        color: aquamarine;
        .menu__contenedor{
            background-color: rgb(37, 1, 71);
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            .menu__opciones{
                margin: 10px;
                text-decoration: none;
                font-size: 30px;
                font-weight: bold;
                font-family: sans-serif;
                &:hover {
                    color: rgb(236, 31, 65);
                    text-transform: uppercase;
                }
            }
        }
    }
}